In [ ]:
zoo.py
#Michael Coughlin
#9/14/23
#A file that will define the function hours

def hours():
    print('Open 9-5 daily')

In [5]:
#Michael Coughlin
#9/14/23
#A program that will import the zoo.py function called hours()

from zoo import hours
hours()

ModuleNotFoundError: No module named 'zoo'

In [3]:
#Michael Coughlin
#9/14/23
#A program that will import the zoo.py as menagerie

import zoo as menagerie

menagerie.hours()

ModuleNotFoundError: No module named 'zoo'

In [ ]:
#Michael Coughlin
#9/15/2023
#This program creates a sqlite3 database of books. Then it will organize the titles in alphabetical order.


import sqlite3
from sqlalchemy import create_engine, text

conn = sqlite3.connect('books.db')
curs = conn.cursor()
#create the database
curs.execute("CREATE TABLE IF NOT EXISTS books(title NVARCHAR(50), author NVARCHAR(50), year INT)")

#This will populate the database
curs.executemany("""INSERT INTO books (title, author, year) VALUES (?, ?, ?)""", [
    ("The Weirdstone of Brisingamen", "Alan Garner", 1960),
    ("Perdido Street Station", "China Mi√©ville", 2000),
    ("Thud!", "Terry Pratchett", 2005),
    ("The Spellman Files", "Lisa Lutz", 2007),
    ("Small Gods", "Terry Pratchett", 1992)
])

conn.commit()
conn.close()

#create the sqlalchemy engine
engine = create_engine("sqlite:///books.db")
connection = engine.connect()
#query to select title from database books organized by title
query = text("SELECT title FROM books ORDER BY title")
#using the query on the database
results = connection.execute(query)
#prints each title
for row in results:
    print(row[0])

connection.close()